<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5CLJHzJluaLZor6Y9Acs6e_9-LUWGAYk</string>
	<key>GCM_SENDER_ID</key>
	<string>1070856258556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Gctta-scorer</string>
	<key>PROJECT_ID</key>
	<string>gctta-stats-live</string>
	<key>STORAGE_BUCKET</key>
	<string>gctta-stats-live.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070856258556:ios:6f794bc4d39665713c6879</string>
</dict>
</plist>
